# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,    
'metis' : 10886,
'practicum-by-yandex' : 11225, 
'le-wagon' : 10868,
'academia-de-codigo' :10494 ,
'react-graphql-academy' : 10972

}

import re
import pandas as pd
from pandas import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
metis
practicum-by-yandex
le-wagon
academia-de-codigo
react-graphql-academy

In [3]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,276568,Guilherme golabek brein,False,None,2018.0,False,Senior Associate,Improper billing,"<span class=""truncatable""><p></p><p>A year aft...","<p>A year after completing my course, ironhack...",...,2021-04-30,Web Development Part-Time,{'image': None},1.0,[],1.0,1.0,1.0,"A year after completing my course, ironhack co...",ironhack
1,276147,Charlotte Urvoy,False,None,2021.0,False,UX UI Designer,Riche et pragmatique,"<span class=""truncatable""><p></p><p>- La métho...",<p>- La m&eacute;thode d&#39;apprentissage est...,...,2021-04-20,UX/UI Design Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,- La méthode d'apprentissage est l'une des mei...,ironhack
2,275972,Anonymous,True,None,2021.0,False,,Amazing experience,"<span class=""truncatable""><p></p><p>the UX/UI ...",<p>the UX/UI bootcamp has been an amazing lear...,...,2021-04-17,UX/UI Design Bootcamp,{'image': None},4.0,[],5.0,4.0,3.0,the UX/UI bootcamp has been an amazing learnin...,ironhack
3,275872,Ahmad Khalaf,False,None,2021.0,False,Product Designer,Intense but good experience,"<span class=""truncatable""><p></p><p>When I sta...",<p>When I started I was a little disappointed ...,...,2021-04-15,UX/UI Design Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,When I started I was a little disappointed but...,ironhack
4,275855,Morgane Favchtein,False,None,2021.0,False,UX UI Designer,Very nice experience !,"<span class=""truncatable""><p></p><p>The UX UI ...",<p>The UX UI Design bootcamp is a great way to...,...,2021-04-14,UX/UI Design Bootcamp,{'image': None},4.3,[],5.0,4.0,4.0,The UX UI Design bootcamp is a great way to tr...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,238594,Tiago Gomes,False,Software Engineering,2018.0,True,Software Developer,A life change experience.,"<p>The curriculum is really good, we really di...","The curriculum is really good, we really dive ...",...,2018-11-26,"1 Week React, Redux & GraphQL Bootcamp",{'image': None},5.0,[],5.0,5.0,5.0,"The curriculum is really good, we really dive ...",react-graphql-academy
30,245212,Peter McCarthy,False,None,2018.0,True,Front End Developer,ReactJS Academy part time course,"<p>Brilliant course, covers absolutely everyth...","Brilliant course, covers absolutely everything...",...,2018-11-23,"Part time React, Redux and GraphQL",{'image': None},5.0,[],5.0,5.0,NaN,"Brilliant course, covers absolutely everything...",react-graphql-academy
31,245192,Polly S,False,Software Engineering,2018.0,True,Frontend engineer,Great intense week of learning and practice,"<span class=""truncatable""><p>A week of encapsu...","A week of encapsulated learning, lots of infor...",...,2018-11-23,"1 Week React, Redux & GraphQL Bootcamp",{'image': None},4.7,[],5.0,4.0,5.0,"A week of encapsulated learning, lots of infor...",react-graphql-academy
32,238091,Francisco Gomes,False,Software Engineering,2018.0,True,Web Developer,Totally worth it!,"<span class=""truncatable""><p>I've attended 1-w...","I've attended 1-week in Lisbon, 1-week in Lond...",...,2018-11-07,"1 Week React, Redux & GraphQL Bootcamp",{'image': None},5.0,[],5.0,5.0,5.0,"I've attended 1-week in Lisbon, 1-week in Lond...",react-graphql-academy
33,238051,Anonymous,True,None,2017.0,True,Freelance Designer / Developer,Amazing Workshops!!!,<p>Awesome Mentors!You can boost your knowledg...,Awesome Mentors!You can boost your knowledge i...,...,2017-12-21,None,{'image': None},5.0,[],5.0,5.0,5.0,Awesome Mentors!You can boost your knowledge i...,react-graphql-academy

In [4]:
from pandas import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack
app-academy
springboard
metis
practicum-by-yandex
le-wagon
academia-de-codigo
react-graphql-academy

In [5]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id           description  country.id   country.name country.abbrev  \
 0  15718     New York City, NY         1.0  United States             US
 1  16079     San Francisco, CA         1.0  United States             US
 2  16081                Online         NaN            NaN            NaN
 3  16263           Chicago, IL         1.0  United States             US
 4  16278           Seattle, WA         1.0  United States             US
 5  16803  Singapore, Singapore        56.0      Singapore             SG

    state.id  state.name state.abbrev state.keyword  city.id      city.name  \
 0      34.0    New York           NY      new-york   1507.0            NYC
 1       6.0  California           CA    california     13.0  San Francisco
 2       1.0      Online       Online        online      NaN            NaN
 3      15.0    Illinois           IL      illinois     39.0        Chicago
 4      49.0  Washington           WA    washington     97.0        Seattle
 5       NaN         NaN          NaN           NaN  31154.0      Singapore

     city.keyword school  school_id
 0  new-york-city  metis      10886
 1  san-francisco  metis      10886
 2            NaN  metis      10886
 3        chicago  metis      10886
 4        seattle  metis      10886
 5      singapore  metis      10886  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                 school  school_id
 0  practicum-by-yandex      11225  ,
        id                  description  country.id          country.name  \
 0   15803         Melbourne, Australia          20             Australia
 1   15904          Casablanca, Morocco          44               Morocco
 2   15906      Buenos Aires, Argentina          60             Argentina
 3   15964            Brussels, Belgium          46               Belgium
 4   15979                 Milan, Italy          39                 Italy
 5   15996               Chengdu, China          15                 China
 6   16039          Mexico City, Mexico          29                Mexico
 7   16049       Amsterdam, Netherlands          59           Netherlands
 8   16106            Sao Paulo, Brazil          42                Brazil
 9   16124             Barcelona, Spain          12                 Spain
 10  16145             Bordeaux, France          38                France
 11  16146          Copenhagen, Denmark          47               Denmark
 12  16147                Lille, France          38                France
 13  16148             Lisbon, Portugal          28              Portugal
 14  16149              Bali, Indonesia          35             Indonesia
 15  16150               Nantes, France          38                France
 16  16274      Rio de Janeiro , Brazil          42                Brazil
 17  16275            Marseille, France          38                France
 18  16282             Montreal, Canada           2                Canada
 19  16283              Shanghai, China          15                 China
 20  16307       Belo Horizonte, Brazil          42                Brazil
 21  16407                 Tokyo, Japan          48                 Japan
 22  16408                 Lyon, France          38                France
 23  16478             Tel Aviv, Israel           5                Israel
 24  16570                 Kyoto, Japan          48                 Japan
 25  16765              Berlin, Germany          57               Germany
 26  16767                Paris, France          38                France
 27  16775              Shenzhen, China          15                 China
 28  16776        Lausanne, Switzerland          32           Switzerland
 29  16800                Madrid, Spain          12                 Spain
 30  16804                 Oslo, Norway          52                Norway
 31  16805               Rennes, France          38                France
 32  16936         Singapore, Singapore          56             Singapore
 33  16967              London, England          61               England
 34  16968                  Rome, Italy          39                 Italy
 35  17128            Stockholm, Sweden          37                Sweden
 36  17129                 Seoul, Korea          55           South Korea
 37  17157             Istanbul, Turkey         237                Turkey
 38  17188              Toronto, Canada           2                Canada
 39  17314  Dubai, United Arab Emirates          34  United Arab Emirates
 40  17395              Munich, Germany          57               Germany
 41  17476              Santiago, Chile          22                 Chile
 42  17732       Saint Pierre, Mauritus         171             Mauritius
 43  17765                 Nice, France          38                France
 44  17772             Cologne, Germany          57               Germany
 45  17835                   Lima, Peru         196                  Peru

    country.abbrev  city.id        city.name    city.keyword    school  \
 0              AU    31174        Melbourne       melbourne  le-wagon
 1              MA    31119       Casablanca      casablanca  le-wagon
 2              AR    31171     Buenos Aires    buenos-aires  le-wagon
 3              BE    31125         Brussels        brussels  le-wagon
 4              IT    31107            Milan           milan  le-wagon
 5              CN    31126          Chengdu         chengdu  le-wagon
 6              MX    31175      Mexico City     mexico-city  le-wagon
 7              NL    31168        Amsterdam       amsterdam  le-wagon
 8              BR    31121        Sao Paulo       sao-paulo  le-wagon
 9              ES    31170        Barcelona       barcelona  le-wagon
 10             FR    31124         Bordeaux        bordeaux  le-wagon
 11             DK    31127       Copenhagen      copenhagen  le-wagon
 12             FR    31128            Lille           lille  le-wagon
 13             PT    31075           Lisbon          lisbon  le-wagon
 14             ID    31169             Bali            bali  le-wagon
 15             FR    31130           Nantes          nantes  le-wagon
 16             BR    31131  Rio de Janeiro   rio-de-janeiro  le-wagon
 17             FR    31129        Marseille       marseille  le-wagon
 18             CA    31135         Montreal        montreal  le-wagon
 19             CN    31108         Shanghai        shanghai  le-wagon
 20             BR    31123   Belo Horizonte  belo-horizonte  le-wagon
 21             JP    31132            Tokyo           tokyo  le-wagon
 22             FR    31106             Lyon            lyon  le-wagon
 23             IL    31079         Tel Aviv        tel-aviv  le-wagon
 24             JP    31134            Kyoto           kyoto  le-wagon
 25             DE    31156           Berlin          berlin  le-wagon
 26             FR    31136            Paris           paris  le-wagon
 27             CN    31164         Shenzhen        shenzhen  le-wagon
 28             CH    31163         Lausanne        lausanne  le-wagon
 29             ES    31052           Madrid          madrid  le-wagon
 30             NO    31145             Oslo            oslo  le-wagon
 31             FR    31147           Rennes          rennes  le-wagon
 32             SG    31154        Singapore       singapore  le-wagon
 33             GB    31176           London          london  le-wagon
 34             IT    31180             Rome            rome  le-wagon
 35             SE    31109        Stockholm       stockholm  le-wagon
 36             KR    31151            Seoul            seol  le-wagon
 37             TR    31193         Istanbul        istanbul  le-wagon
 38             CA    31152          Toronto         toronto  le-wagon
 39             AE    31093            Dubai           dubai  le-wagon
 40             DE    31158           Munich          munich  le-wagon
 41             CL    31067         Santiago        santiago  le-wagon
 42             MU    31246     Saint Pierre    saint-pierre  le-wagon
 43             FR    31239             Nice            nice  le-wagon
 44             DE    31254          Cologne         cologne  le-wagon
 45             PE    31256             Lima            lima  le-wagon

     school_id
 0       10868
 1       10868
 2       10868
 3       10868
 4       10868
 5       10868
 6       10868
 7       10868
 8       10868
 9       10868
 10      10868
 11      10868
 12      10868
 13      10868
 14      10868
 15      10868
 16      10868
 17      10868
 18      10868
 19      10868
 20      10868
 21      10868
 22      10868
 23      10868
 24      10868
 25      10868
 26      10868
 27      10868
 28      10868
 29      10868
 30      10868
 31      10868
 32      10868
 33      10868
 34      10868
 35      10868
 36      10868
 37      10868
 38      10868
 39      10868
 40      10868
 41      10868
 42      10868
 43      10868
 44      10868
 45      10868  ,
       id                description  country.id country.name country.abbrev  \
 0  16627           Lisbon, Portugal          28     Portugal             PT
 1  16771            Porto, Portugal          28     Portugal             PT
 2  16798  Terceira Island, Portugal          28     Portugal             PT
 3  16801           Fundao, Portugal          28     Portugal             PT

    city.id        city.name     city.keyword              school  school_id
 0    31075           Lisbon           lisbon  academia-de-codigo      10494
 1    31102            Porto            porto  academia-de-codigo      10494
 2    31161  Terceira Island  terceira-island  academia-de-codigo      10494
 3    31140           Fundao           fundao  academia-de-codigo      10494  ,
       id             description  country.id    country.name country.abbrev  \
 0  15748         London, England        11.0  United Kingdom             GB
 1  16749        Lisbon, Portugal        28.0        Portugal             PT
 2  17023  Amsterdam, Netherlands        59.0     Netherlands             NL
 3  17242                  Online         NaN             NaN            NaN
 4  17251         Berlin, Germany        57.0         Germany             DE
 5  17252        Barcelona, Spain        12.0           Spain             ES

    city.id  city.name city.keyword  state.id state.name state.abbrev  \
 0  31176.0     London       london       NaN        NaN          NaN
 1  31075.0     Lisbon       lisbon       NaN        NaN          NaN
 2  31168.0  Amsterdam    amsterdam       NaN        NaN          NaN
 3      NaN        NaN          NaN       1.0     Online       Online
 4  31156.0     Berlin       berlin       NaN        NaN          NaN
 5  31170.0  Barcelona    barcelona       NaN        NaN          NaN

   state.keyword                 school  school_id
 0           NaN  react-graphql-academy      10972
 1           NaN  react-graphql-academy      10972
 2           NaN  react-graphql-academy      10972
 3        online  react-graphql-academy      10972
 4           NaN  react-graphql-academy      10972
 5           NaN  react-graphql-academy      10972  ]

In [6]:
locations = pd.concat(locations_list)
column_names = ['id','description','country_id', 'country_name', 'country_abbrev', 'city_id', 'city_name', 'city_keyword', 'state_id', 'state_name', 'state_abbrev', 'state_keyword', 'school', 'school_id']

locations.columns = column_names

locations

,id,description,country_id,country_name,country_abbrev,city_id,city_name,city_keyword,state_id,state_name,state_abbrev,state_keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,16749,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,react-graphql-academy,10972
2,17023,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,react-graphql-academy,10972
3,17242,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,react-graphql-academy,10972
4,17251,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,react-graphql-academy,10972
5,17252,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,react-graphql-academy,10972

In [7]:
courses = pd.concat(courses_list)
courses.head(20)

                                     courses       school  school_id
0                    Cyber Security Bootcamp     ironhack      10828
1                    Cybersecurity Part-Time     ironhack      10828
2                    Data Analytics Bootcamp     ironhack      10828
3                   Data Analytics Part-Time     ironhack      10828
4                      UX/UI Design Bootcamp     ironhack      10828
5                     UX/UI Design Part-Time     ironhack      10828
6                   Web Development Bootcamp     ironhack      10828
7                  Web Development Part-Time     ironhack      10828
0                              Bootcamp Prep  app-academy      10525
1         Software Engineer Track: In-Person  app-academy      10525
2                           App Academy Open  app-academy      10525
3            Software Engineer Track: Online  app-academy      10525
0                Cyber Security Career Track  springboard      11035
1                Data Analytics Career Track  springboard      11035
2              Data Engineering Career Track  springboard      11035
3                  Data Science Career Track  springboard      11035
4             Data Science Career Track Prep  springboard      11035
5                     Introduction to Design  springboard      11035
6  Machine Learning Engineering Career Track  springboard      11035
7          Software Engineering Career Track  springboard      11035

In [8]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [9]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,thisismetis.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Metis offers data...",https://d92mrp7hetgfk.cloudfront.net/images/si...,metis,10886
0,practicum.yandex.com/?utm_source=referral&utm_...,"<span class=""truncatable""><p>Practicum by Yand...",https://d92mrp7hetgfk.cloudfront.net/images/si...,practicum-by-yandex,11225

In [10]:
comments_table=comments[['name', 'graduatingYear', 'program', 'overallScore', 'overall', 'curriculum', 'jobSupport', 'school']]
comments_table.set_index('name', inplace=True)

comments_table = comments_table.fillna(0)

comments_table['overallScore'] = comments_table['overallScore'].apply(lambda x : float(x))
comments_table['overall'] = comments_table['overall'].apply(lambda x : float(x))
comments_table['curriculum'] = comments_table['curriculum'].apply(lambda x : float(x))
comments_table['jobSupport'] = comments_table['jobSupport'].apply(lambda x : float(x))

comments_table.sample(50)

,graduatingYear,program,overallScore,overall,curriculum,jobSupport,school
name,,,,,,,
Marisa Cassidy,2021.0,Web Development Course - Part-Time,5.0,5.0,5.0,5.0,le-wagon
Chris H,2018.0,0,5.0,5.0,5.0,5.0,springboard
Anonymous,2017.0,Software Engineer Track: In-Person,5.0,5.0,5.0,5.0,app-academy
Alix Taffle,2018.0,FullStack program - 35+ locations,5.0,5.0,5.0,5.0,le-wagon
Zachary Johnson,2019.0,Software Engineer Track: In-Person,4.3,5.0,4.0,4.0,app-academy
Anonymous,2019.0,FullStack program,5.0,5.0,5.0,5.0,le-wagon
Marcos Sorribas,2014.0,Full-time Web Development Bootcamp,5.0,5.0,5.0,5.0,ironhack
Sarah Jiang,2020.0,Software Engineer Track: In-Person,4.0,4.0,4.0,4.0,app-academy
Geoffrey otieno,2020.0,,4.7,5.0,4.0,5.0,app-academy
Ahmed Eldemerdash,2021.0,Web Developer,5.0,5.0,5.0,5.0,practicum-by-yandex
Karl Loomes,2020.0,FullStack program,4.3,5.0,5.0,3.0,le-wagon
Jaydip Dalal,2020.0,Software Engineer Track: In-Person,5.0,5.0,5.0,5.0,app-academy
Alexis,2020.0,0,5.0,5.0,5.0,5.0,le-wagon
Paul Ramirez,2021.0,Software Engineer Track: In-Person,4.7,5.0,4.0,5.0,app-academy
Giuliano,2017.0,14-Week Intensive && Immersive Full-Stack Prog...,5.0,5.0,5.0,5.0,academia-de-codigo
julien ergan,2020.0,Web Development Course - Full-Time,5.0,5.0,5.0,5.0,le-wagon
Ana,2018.0,Full-time Web Development Bootcamp,4.3,5.0,4.0,4.0,ironhack
Chris Beltran,2019.0,FullStack program - 35+ locations,4.7,5.0,5.0,4.0,le-wagon
Anonymous,2017.0,Software Engineer Track: In-Person,5.0,5.0,5.0,0.0,app-academy
fahad alkubaisi,2017.0,FullStack program - 35+ locations,5.0,5.0,5.0,5.0,le-wagon
Catherine Deiber,2021.0,0,5.0,5.0,5.0,5.0,le-wagon
Christopher Lucas,2019.0,UX Design,5.0,5.0,5.0,0.0,springboard
In Hoo Ham,2018.0,Bootcamp Prep,5.0,5.0,5.0,5.0,app-academy
Denis Dalidovich,2017.0,Data Science Career Track,5.0,5.0,5.0,5.0,springboard
Antonio Manoel do Nascimento,2018.0,FullStack program - 35+ locations,5.0,5.0,5.0,5.0,le-wagon
Léonie Mironesco,2019.0,FullStack program - 35+ locations,5.0,5.0,5.0,5.0,le-wagon
Montserrat Monroy,2018.0,Full-time Web Development Bootcamp,4.0,4.0,4.0,4.0,ironhack
Lilian Hatimine,2019.0,UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,ironhack
Jacob,2018.0,Software Engineer Track: In-Person,4.0,4.0,4.0,4.0,app-academy
Josué Alejandro Molina,2019.0,Web Development Bootcamp,4.7,5.0,5.0,4.0,ironhack
Anonymous,2018.0,Full-time UX/UI Design Bootcamp,3.3,3.0,4.0,3.0,ironhack
Andrei,2017.0,Full-time Web Development Bootcamp,5.0,5.0,5.0,5.0,ironhack
Julien Maisonnier,2018.0,FullStack program - 35+ locations,5.0,5.0,5.0,5.0,le-wagon
Saulo Ribas Dos Anjos Costa,2019.0,,4.7,5.0,4.0,5.0,ironhack
Katell GOAER,2020.0,FullStack program,4.7,5.0,5.0,4.0,le-wagon
Jing Zhao,2018.0,Data Science Career Track,4.0,4.0,4.0,4.0,springboard
Polina Maguire,2020.0,UX Career Track,5.0,5.0,5.0,0.0,springboard
Sava Dashev,2020.0,,3.7,4.0,4.0,3.0,springboard
Anonymous,2019.0,Software Engineer Track: In-Person,1.7,1.0,3.0,1.0,app-academy
Suzanne,2018.0,0,5.0,5.0,5.0,0.0,springboard
Bruno Marin,2019.0,FullStack program,5.0,5.0,5.0,5.0,le-wagon
Kathleen,2020.0,Web Development Bootcamp,4.3,5.0,4.0,4.0,ironhack
Salvador Emmanuel Juárez Granados,2018.0,Part-time Web Development,5.0,5.0,5.0,5.0,ironhack
Vania Costa,2021.0,14-Week Intensive && Immersive Full-Stack Prog...,5.0,5.0,5.0,5.0,academia-de-codigo
Leo Siebold,2019.0,0,5.0,5.0,5.0,5.0,le-wagon
Kuda Mwakutuya,2021.0,Software Engineering Career Track,4.7,4.0,5.0,5.0,springboard
Andrew,2017.0,Data Science Immersive Bootcamp,5.0,5.0,5.0,5.0,metis
Azi Khastoo,2019.0,0,5.0,5.0,5.0,5.0,springboard
Jorge,2018.0,Full-time Web Development Bootcamp,4.3,5.0,4.0,4.0,ironhack
Arigbede Timilehin Emmanuel,2019.0,FullStack program,5.0,5.0,5.0,5.0,le-wagon

In [79]:
comments_table.to_csv('full_comments.csv')

In [11]:
courses_table = courses
courses_table.set_index('courses', inplace=True)
display(courses_table)

,school,school_id
courses,,
Cyber Security Bootcamp,ironhack,10828
Cybersecurity Part-Time,ironhack,10828
Data Analytics Bootcamp,ironhack,10828
Data Analytics Part-Time,ironhack,10828
UX/UI Design Bootcamp,ironhack,10828
UX/UI Design Part-Time,ironhack,10828
Web Development Bootcamp,ironhack,10828
Web Development Part-Time,ironhack,10828
Bootcamp Prep,app-academy,10525
Software Engineer Track: In-Person,app-academy,10525
App Academy Open,app-academy,10525
Software Engineer Track: Online,app-academy,10525
Cyber Security Career Track,springboard,11035
Data Analytics Career Track,springboard,11035
Data Engineering Career Track,springboard,11035
Data Science Career Track,springboard,11035
Data Science Career Track Prep,springboard,11035
Introduction to Design,springboard,11035
Machine Learning Engineering Career Track,springboard,11035
Software Engineering Career Track,springboard,11035
Software Engineering Career Track Prep Course,springboard,11035
UI/UX Design Career Track,springboard,11035
UX Career Track,springboard,11035
Beginner Python and Math for Data Science,metis,10886
Data Analytics Bootcamp,metis,10886
Data Analytics Online Flex Bootcamp,metis,10886
Data Science & Engineering Bootcamp,metis,10886
Data Science & Engineering Online Flex Bootcamp,metis,10886
Data Science & Machine Learning Bootcamp,metis,10886
Data Science & Machine Learning Online Flex Bootcamp,metis,10886
Data Science Bootcamp,metis,10886
Data Science Online Flex Bootcamp,metis,10886
Introduction to Data Science,metis,10886
Metis Admissions Prep,metis,10886
Short Immersive Courses,metis,10886
Short Immersive Online Flex Courses,metis,10886
Data Analyst,practicum-by-yandex,11225
Data Scientist,practicum-by-yandex,11225
Web Developer,practicum-by-yandex,11225
Data Science - Full-Time,le-wagon,10868
Data Science - Part-Time,le-wagon,10868
Web Development Course - Full-Time,le-wagon,10868
Web Development Course - Part-Time,le-wagon,10868
14-Week Intensive && Immersive Full-Stack Programming Bootcamp,academia-de-codigo,10494
Advanced React Part-Time Training,react-graphql-academy,10972
Advanced React Training,react-graphql-academy,10972
Complete React Part-time Training,react-graphql-academy,10972
GraphQL API Part-time,react-graphql-academy,10972
"React, Redux & GraphQL Bootcamp",react-graphql-academy,10972
"React, Redux Fundamentals Part-time Training",react-graphql-academy,10972
"React, Redux Fundamentals Training",react-graphql-academy,10972

In [12]:
locations_table = locations[['id', 'country_name' ,'city_name', 'school', 'school_id']]
locations_table.set_index('id', inplace=True)
display(locations_table)

      country_name    city_name                 school  school_id
id
15901      Germany       Berlin               ironhack      10828
16022       Mexico  Mexico City               ironhack      10828
16086  Netherlands    Amsterdam               ironhack      10828
16088       Brazil    Sao Paulo               ironhack      10828
16109       France        Paris               ironhack      10828
...            ...          ...                    ...        ...
16749     Portugal       Lisbon  react-graphql-academy      10972
17023  Netherlands    Amsterdam  react-graphql-academy      10972
17242          NaN          NaN  react-graphql-academy      10972
17251      Germany       Berlin  react-graphql-academy      10972
17252        Spain    Barcelona  react-graphql-academy      10972

[77 rows x 4 columns]

In [13]:
badges_table = badges[['name', 'school', 'school_id']]
display (badges_table)

                name                 school  school_id
0   Available Online               ironhack      10828
1  Verified Outcomes               ironhack      10828
2   Flexible Classes               ironhack      10828
0   Available Online            app-academy      10525
1   Flexible Classes            app-academy      10525
2      Job Guarantee            app-academy      10525
0   Available Online            springboard      11035
1   Flexible Classes            springboard      11035
2      Job Guarantee            springboard      11035
0   Available Online                  metis      10886
1   Flexible Classes                  metis      10886
0   Available Online    practicum-by-yandex      11225
1      Job Guarantee    practicum-by-yandex      11225
0   Available Online               le-wagon      10868
1   Flexible Classes               le-wagon      10868
0   Available Online  react-graphql-academy      10972
1   Flexible Classes  react-graphql-academy      10972

In [14]:
#CONNECT TO MYSQL

In [15]:
import getpass

In [16]:
saved_password = getpass.getpass()

········

In [17]:
import mysql.connector

In [18]:
cnx = mysql.connector.connect(user = 'pardi',password = saved_password, host ='localhost', database = 'ironlise')

In [19]:
cnx.is_connected()

True

In [20]:
cursor = cnx.cursor()

In [21]:
query = ("CREATE DATABASE IF NOT EXISTS ironlise")

In [22]:
cursor.execute(query)

In [23]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="pardi",
                               pw="bmp201297",
                               db="ironlise"))

In [25]:
locations_table.to_sql('locations_table', con = engine, if_exists = 'append')

In [26]:
comments_table.to_sql('comments_table', con = engine, if_exists = 'append')

In [27]:
courses_table.to_sql('courses_table', con = engine, if_exists = 'append')

In [28]:
badges_table.to_sql('badges_table', con = engine, if_exists = 'append')

In [29]:
### ANALYSIS

In [30]:
comments_table.shape
#how many comments do we have

(5335, 7)

In [31]:
comments_table['overallScore'].value_counts()

#how are the overallScore comments distributed

5.0    3662
4.7     799
4.3     332
4.0     270
3.7      87
4.5      48
3.3      33
3.0      25
1.0      16
2.7      15
0.0      11
2.3       9
1.7       7
2.0       6
3.5       6
1.3       5
2.5       2
1.5       2
Name: overallScore, dtype: int64

In [32]:
#what about individually ? - Overall
comments_table['overall'].value_counts()

5.0    4691
4.0     527
3.0      56
1.0      27
2.0      21
0.0      13
Name: overall, dtype: int64

In [33]:
#what about individually ? - curriculum
comments_table['curriculum'].value_counts()

5.0    4240
4.0     852
0.0     108
3.0      98
1.0      22
2.0      15
Name: curriculum, dtype: int64

In [34]:
#what about individually ? - jobSupport
comments_table['jobSupport'].value_counts()

5.0    3775
4.0     812
0.0     458
3.0     208
1.0      55
2.0      27
Name: jobSupport, dtype: int64

In [35]:
comments_table.max()

graduatingYear         2021.0
overallScore              5.0
overall                   5.0
curriculum                5.0
jobSupport                5.0
school            springboard
dtype: object

In [36]:
comments_table['overallScore'].mean()

#try dtypes - check tomorrow

4.766879100281162

In [37]:
comments_table['overallScore'].max()

5.0

In [92]:
comments_table['overall'].sum()

25800.0

In [39]:
comments_table.max()

graduatingYear         2021.0
overallScore              5.0
overall                   5.0
curriculum                5.0
jobSupport                5.0
school            springboard
dtype: object

In [44]:
count_comments = comments_table.groupby(['graduatingYear', 'school']).agg({'overallScore':'count'})
count_comments = count_comments.iloc[4:,:]
count_comments

                                      overallScore
graduatingYear school
2011.0         ironhack                          1
               le-wagon                          1
2013.0         app-academy                      11
2014.0         app-academy                      16
               ironhack                          9
               le-wagon                         16
               metis                             4
               springboard                       1
2015.0         app-academy                      17
               ironhack                         32
               le-wagon                         34
               metis                             6
               springboard                       4
2016.0         academia-de-codigo                4
               app-academy                      93
               ironhack                         75
               le-wagon                         94
               metis                             8
               springboard                      24
2017.0         academia-de-codigo               15
               app-academy                     232
               ironhack                        198
               le-wagon                        323
               metis                            35
               react-graphql-academy             1
               springboard                      67
2018.0         academia-de-codigo               18
               app-academy                     203
               ironhack                        309
               le-wagon                        467
               metis                            17
               react-graphql-academy             9
               springboard                     197
2019.0         academia-de-codigo               29
               app-academy                     223
               ironhack                        217
               le-wagon                        552
               metis                            18
               practicum-by-yandex              19
               react-graphql-academy            20
               springboard                     169
2020.0         academia-de-codigo               12
               app-academy                     211
               ironhack                        184
               le-wagon                        414
               metis                            22
               practicum-by-yandex              40
               react-graphql-academy             4
               springboard                     310
2021.0         academia-de-codigo               19
               app-academy                      45
               ironhack                         20
               le-wagon                         73
               metis                             6
               practicum-by-yandex              23
               springboard                     154

In [45]:
count_comments.iloc[4:,:].to_csv('output.csv')

#get a csv file of this table

In [84]:
mean_ratings = comments_table.groupby(['graduatingYear', 'school']).agg({'overallScore':'mean','overall':'mean','curriculum':'mean','jobSupport':'mean'})

mean_ratings= mean_ratings.iloc[23:,:]

mean_ratings

                                      overallScore   overall  curriculum  \
graduatingYear school
2017.0         academia-de-codigo         4.933333  4.933333    4.933333
               app-academy                4.631897  4.655172    4.685345
               ironhack                   4.871717  4.914141    4.732323
               le-wagon                   4.949226  4.993808    4.950464
               metis                      4.854286  4.942857    4.771429
               react-graphql-academy      5.000000  5.000000    5.000000
               springboard                4.600000  4.791045    4.731343
2018.0         academia-de-codigo         4.983333  5.000000    5.000000
               app-academy                4.671921  4.704433    4.714286
               ironhack                   4.871197  4.906149    4.789644
               le-wagon                   4.946467  4.982869    4.944325
               metis                      4.882353  4.882353    4.941176
               react-graphql-academy      4.966667  5.000000    4.888889
               springboard                4.573604  4.680203    4.573604
2019.0         academia-de-codigo         4.924138  4.931034    4.758621
               app-academy                4.534081  4.650224    4.488789
               ironhack                   4.765438  4.801843    4.700461
               le-wagon                   4.936232  4.976449    4.940217
               metis                      4.944444  5.000000    4.944444
               practicum-by-yandex        4.442105  4.842105    4.263158
               react-graphql-academy      4.665000  4.750000    4.650000
               springboard                4.478698  4.650888    4.461538
2020.0         academia-de-codigo         5.000000  5.000000    5.000000
               app-academy                4.423223  4.601896    4.331754
               ironhack                   4.728804  4.820652    4.777174
               le-wagon                   4.901208  4.978261    4.939614
               metis                      4.713636  4.818182    4.863636
               practicum-by-yandex        4.807500  4.900000    4.825000
               react-graphql-academy      4.750000  4.750000    4.750000
               springboard                4.532903  4.622581    4.480645
2021.0         academia-de-codigo         4.984211  5.000000    5.000000
               app-academy                4.635556  4.733333    4.466667
               ironhack                   4.815000  4.950000    4.800000
               le-wagon                   4.935616  5.000000    4.958904
               metis                      4.900000  5.000000    5.000000
               practicum-by-yandex        4.826087  5.000000    4.956522
               springboard                4.659740  4.759740    4.532468

                                      jobSupport
graduatingYear school
2017.0         academia-de-codigo       4.933333
               app-academy              4.090517
               ironhack                 4.752525
               le-wagon                 4.585139
               metis                    4.542857
               react-graphql-academy    5.000000
               springboard              3.462687
2018.0         academia-de-codigo       4.666667
               app-academy              3.374384
               ironhack                 4.792880
               le-wagon                 4.342612
               metis                    3.647059
               react-graphql-academy    3.333333
               springboard              3.182741
2019.0         academia-de-codigo       4.724138
               app-academy              4.224215
               ironhack                 4.774194
               le-wagon                 4.539855
               metis                    4.611111
               practicum-by-yandex      4.210526
               react-graphql-academy    2.950000
               springboard              3.538462
2020.0         academia-de-codigo       5.000000
               app-academy              4.289100
               ironhack                 4.527174
               le-wagon                 4.690821
               metis                    4.454545
               practicum-by-yandex      4.200000
               react-graphql-academy    4.750000
               springboard              4.345161
2021.0         academia-de-codigo       4.947368
               app-academy              4.244444
               ironhack                 4.700000
               le-wagon                 4.835616
               metis                    4.666667
               practicum-by-yandex      3.869565
               springboard              4.564935

In [85]:
mean_ratings.to_csv('fmean_ratings.csv')

In [ ]:
#ANALYSIS

In [47]:
comments_table.columns

Index(['graduatingYear', 'program', 'overallScore', 'overall', 'curriculum',
       'jobSupport', 'school'],
      dtype='object')

In [59]:
new_table=comments_table[['graduatingYear','overallScore','overall','curriculum','jobSupport','school']]
new_table.reset_index(inplace=True)
new_table
#reset of index

,name,graduatingYear,overallScore,overall,curriculum,jobSupport,school
0,Guilherme golabek brein,2018.0,1.0,1.0,1.0,1.0,ironhack
1,Charlotte Urvoy,2021.0,5.0,5.0,5.0,5.0,ironhack
2,Anonymous,2021.0,4.0,5.0,4.0,3.0,ironhack
3,Ahmad Khalaf,2021.0,4.0,4.0,4.0,4.0,ironhack
4,Morgane Favchtein,2021.0,4.3,5.0,4.0,4.0,ironhack
...,...,...,...,...,...,...,...
5330,Tiago Gomes,2018.0,5.0,5.0,5.0,5.0,react-graphql-academy
5331,Peter McCarthy,2018.0,5.0,5.0,5.0,0.0,react-graphql-academy
5332,Polly S,2018.0,4.7,5.0,4.0,5.0,react-graphql-academy
5333,Francisco Gomes,2018.0,5.0,5.0,5.0,5.0,react-graphql-academy
5334,Anonymous,2017.0,5.0,5.0,5.0,5.0,react-graphql-academy

In [49]:
new_table.drop(['name'],inplace=True,axis=1)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [58]:
new_table['graduatingYear'] = new_table['graduatingYear'].astype('int64',errors='ignore')
new_table
#passar de float

,graduatingYear,overallScore,overall,curriculum,jobSupport,school,bootcamp
0,2018,1.0,1.0,1.0,1.0,ironhack,Similar
1,2021,5.0,5.0,5.0,5.0,ironhack,Similar
2,2021,4.0,5.0,4.0,3.0,ironhack,Similar
3,2021,4.0,4.0,4.0,4.0,ironhack,Similar
4,2021,4.3,5.0,4.0,4.0,ironhack,Similar
...,...,...,...,...,...,...,...
5330,2018,5.0,5.0,5.0,5.0,react-graphql-academy,Lisbon
5331,2018,5.0,5.0,5.0,0.0,react-graphql-academy,Lisbon
5332,2018,4.7,5.0,4.0,5.0,react-graphql-academy,Lisbon
5333,2018,5.0,5.0,5.0,5.0,react-graphql-academy,Lisbon
5334,2017,5.0,5.0,5.0,5.0,react-graphql-academy,Lisbon

In [88]:
def group(row):
    Sample = ['Similar', 'Lisbon']

  
    
    Similar = ['ironhack',
    'app-academy',
    'springboard',    
    'metis',
    'practicum-by-yandex']

    Lisbon = ['ironhack'
    'le-wagon',
    'academia-de-codigo',
    'react-graphql-academy']
    
    
    if row ['school'] =='ironhack':
        return 'ironhack'
    if row['school'] in Lisbon:
        return 'Lisbon'
    elif row['school'] in Similar:
        return 'Similar'

In [86]:
new_table['bootcamp']=new_table.apply(group,axis=1)

<ipython-input-86-3e1a6f3bd514>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_table['bootcamp']=new_table.apply(group,axis=1)

In [87]:
new_table.head(20)

,name,graduatingYear,overallScore,overall,curriculum,jobSupport,school,bootcamp
0,Guilherme golabek brein,2018.0,1.0,1.0,1.0,1.0,ironhack,ironhack
1,Charlotte Urvoy,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
2,Anonymous,2021.0,4.0,5.0,4.0,3.0,ironhack,ironhack
3,Ahmad Khalaf,2021.0,4.0,4.0,4.0,4.0,ironhack,ironhack
4,Morgane Favchtein,2021.0,4.3,5.0,4.0,4.0,ironhack,ironhack
5,Edwin Pitono,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
6,Edwin Pitono,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
7,Antoine Stouff,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
8,Mohammed Adib,2021.0,4.3,5.0,4.0,4.0,ironhack,ironhack
9,Mélusine Rey,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
10,Nick Sayago,2020.0,5.0,5.0,5.0,5.0,ironhack,ironhack
11,Matthieu C,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
12,Jordane,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
13,Charlotte Urvoy,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
14,Jean Noel Rony,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
15,Rowan Williams,2021.0,4.7,5.0,5.0,4.0,ironhack,ironhack
16,Myriam MIRA,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
17,C.,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
18,Eduardo Garcia,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack
19,Xavier Bergeron,2021.0,5.0,5.0,5.0,5.0,ironhack,ironhack

In [91]:
organized_table=new_table.groupby(['graduatingYear','bootcamp']).agg({'overallScore':'mean','overall':'mean','curriculum':'mean','jobSupport':'mean'})
organized_table.iloc[10:,]

                         overallScore   overall  curriculum  jobSupport
graduatingYear bootcamp
2017.0         Lisbon        4.937500  4.937500    4.937500    4.937500
               Similar       4.648802  4.712575    4.703593    4.011976
               ironhack      4.871717  4.914141    4.732323    4.752525
2018.0         Lisbon        4.977778  5.000000    4.962963    4.222222
               Similar       4.634053  4.700240    4.657074    3.294964
               ironhack      4.871197  4.906149    4.789644    4.792880
2019.0         Lisbon        4.818367  4.857143    4.714286    4.000000
               Similar       4.525408  4.673660    4.487179    3.969697
               ironhack      4.765438  4.801843    4.700461    4.774194
2020.0         Lisbon        4.937500  4.937500    4.937500    4.937500
               Similar       4.518868  4.641509    4.464837    4.319039
               ironhack      4.728804  4.820652    4.777174    4.527174
2021.0         Lisbon        4.984211  5.000000    5.000000    4.947368
               Similar       4.678070  4.785088    4.574561    4.434211
               ironhack      4.815000  4.950000    4.800000    4.700000